.home{
  width: 100vw;
  height: 100vh;
}

.blogHeader{
  margin: 20px 40px;
}
.blogsBody{
  margin: 30px 40px;
  width: 60%;
  height: 70px;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-box-shadow: 3px 5px 15px -3px #000000; 
  box-shadow: 3px 5px 15px -3px #000000;
  margin-bottom: 30px;
}
.blogsBody:hover{
  border-left: 8px solid crimson;
}
.blogTitle{
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

